<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiggyDogRegister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBEAF1AC1C8A49AC00CBB90F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBEAF1C01C8A49AC00CBB90F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBEAF1CB1C8A49AC00CBB90F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
